{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "max-len": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "env": {
    "jasmine": true
  },
  "overrides": [
    {
      "files": [
        "src/**/*.spec.js"
      ],
      "rules": {}
    }
  ]
}
